            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/admin/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="/admin/content">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders"></i></div>
                                Content
                            </a>
                            <a class="nav-link" href="/admin/settings">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                                Settings
                            </a>
                            <a class="nav-link" href="/admin/email">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-envelope"></i></div>
                                Email
                            </a>
                            <a class="nav-link" href="/admin/appoinment">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-check"></i></div>
                                Appoinment
                            </a>
                            <a class="nav-link" href="/admin/user">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></i></div>
                                User
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <%= user.name %>
                    </div>
                </nav>
            </div>